* {
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 120px;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar {
  background-color: red;
  color: whitesmoke;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid;
  border-color: black;
  display: flex;
  justify-content: center;
}

.navbarImg {
  width: 200px;
}

section {
  background-image: url(./assets/img/div-bg.png);

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 20px;
  border-style: solid;
  border-color: rgb(255, 196, 1);
  border-radius: 30px;

  width: 300px;
  margin: 10px;
}

img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.divImg {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  border: 10px;
  border-style: solid;
  border-color: rgb(255, 196, 1);

  border-radius: 10px;
}

.divName {
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(253, 244, 189);
}

.divAbility {
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(253, 244, 189);
  justify-content: flex-start;
}

.divText {
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(253, 244, 189);
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2,
h3 {
  margin: 5px;
}
