@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: red;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 210px;
  padding-left: 200px;
  padding-right: 200px;
}

.navbar {
  /*clip-path: polygon(0 0, 100% 0, 100% 50%, 30% 50%, 15% 100%, 0 100%);*/
  box-shadow: 50px;
  background-color: red;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: solid black 10px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  z-index: 1;
}

input {
  margin-top: 30px;
  height: 50px;
}

section {
  background-image: url(./assets/img/div-bg.png);

  display: flex;
  flex-direction: column;
  align-items: center;

  border: solid 20px rgb(255, 217, 1);
  /* border-style: solid;
  border-color: rgb(255, 196, 1); */
  border-radius: 30px;

  width: 400px;
  margin: 10px;
}
section:hover {
  transform: scale(1.1);
  margin-right: 40px;
  margin-left: 26px;
  box-shadow: 10px 15px;
}

img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.divImg {
  object-fit: cover;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 250px;
  border: 10px;
  border-style: solid;
  border-color: rgb(255, 196, 1);
  border-radius: 10px;
}

.divName {
  margin: 10px;
  border-style: groove;
  border-radius: 10px;
  background-color: rgb(253, 244, 189);
}

.divAbility {
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(253, 244, 189);
}

.divText {
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(253, 244, 189);
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

h2,
h3 {
  margin: 5px;
}

@media (min-width: 200px) and (max-width: 500px) {
  .navbar {
    height: 18vh;
  }

  .navbarImg1 {
    display: none;
  }
  .navbarImg2 {
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .navbar {
    height: 20vh;
  }

  .navbarImg1 {
    width: 100px;
    height: 100px;
    padding-left: 50px;
  }
  .navbarImg2 {
    width: 100px;
    height: 200px;
    padding-right: 50px;
  }
}

@media (min-width: 1000px) and (max-width: 2000px) {
  .navbar {
    height: 20vh;
  }

  .navbarImg1 {
    width: 150px;
    height: 150px;
    padding-left: 50px;
  }
  .navbarImg2 {
    width: 150px;
    height: 150px;
    padding-right: 50px;
  }
}
